* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: repeat(10,auto);
    height: 70vh;
    width: 70vw;
    background-color: rgb(62, 62, 105);
    border: 5px solid black;
}
/* put the box border temporarily so that I can see the movement later on more clearly, will take out when game done */
.box { 
    border: 1px solid black;
}
.food {
    background-color: red;
}
.snake {
    background-color: green;
}