* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://imgur.com/U1ByXz8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(15,auto);
    grid-template-rows: repeat(15,auto);
    height: 530px;
    width: 530px;
    background-color: rgb(62, 62, 105);
    border: 5px solid black;
}

.food {
    background-color: red;
}
.snake {
    background-color: green;
}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px ;
}
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px ;
}
  
#modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}
   
#modal-textbox {
    background-color: white;
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
}

#modal-footer {
 text-align: right;
}

p {
    margin-bottom: 20px;
}

.labels {
    display: flex;
}

#score {
    font-size: large;
    padding-right: 150px;
    font-weight: bold;
}

#modes {
    font-size: large;
    padding-left: 150px;
    font-weight: bold;
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px ;
    padding-top: 15px;
}

#openModal {
  background-color: blue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.difficulty-buttons {
    display: flex;
}

#hard {
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#hardcore {
  background-color: orange; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.obstacle {
    background-color: black;
}