* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5,auto);
    height: 50vh;
    width: 50vw;
    background-color: blue;
}